[submodule "api-app"]
	path = api-app
	url = https://github.com/lsealedl/api-app.git
[submodule "navi-app"]
	path = navi-app
	url = https://github.com/lsealedl/navi-app.git
[submodule "my-app"]
	path = my-app
	url = https://github.com/lsealedl/my-app.git
[submodule "test1"]
	path = test1
	url = https://github.com/lsealedl/test1.git
[submodule "api_test"]
	path = api_test
	url = https://github.com/Amsomeboys/api_test.git
[submodule "news-api"]
	path = news-api
	url = https://github.com/lsealedl/news-api.git
[submodule "memo-app"]
	path = memo-app
	url = https://github.com/lsealedl/memo-app.git
[submodule "hook-app"]
	path = hook-app
	url = https://github.com/lsealedl/hook-app.git
[submodule "araigordai-app"]
	path = araigordai-app
	url = https://github.com/lsealedl/araigordai-app.git
[submodule "work-memo-app"]
	path = work-memo-app
	url = https://github.com/lsealedl/work-memo-app.git
[submodule "mobile-final-project"]
	path = mobile-final-project
	url = https://github.com/Amsomeboys/mobile-final-project.git
